* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color:white;
    font-size: 1em;
}

div.header {
    font-size: 2em;
}

div.header,
div.footer {
    text-align: center;
    background: gray;
    color: white;
    line-height: 150%;
}

div.body {
    text-align: center;
    height: auto;
    width: 100%;
}

div.function {
    margin: 5%;
    padding: 5%;
    float: left;
    width: 30%;
    height: auto;
    background: rgb(0, 255, 255);

    user-select: none;

    transition: all 0.5s;
}

div.function:hover {
    transform: scale(1.2);
}

div.function:active {
    background: rgb(100, 200, 200);
}

div.fuction a {
    font-family: 'Times New Roman', Times, serif;
}

div.footer {
    font-size: 1em;
    clear: left;
}
