* {
    margin: 0;
    padding: 0;
}

input {
    width: 400px;
    height: 40px;
    font-size: 24px;
}

#id2{
    width: 50px;
    height: 30px;
}

#sy6-3-5 {
    background: rgb(220, 220, 220);
    width: 400px;
    height: 700px;
}

#id5 {
    margin: 30px 30px 30px 30px;
    width: 340px;
    border: 0;
    height: 40px;
    font-size: 24px;
    text-align: right;
}

#control {
    width: 400px;
    height: 600px;
}

.button {
    background: rgb(167, 167, 167);
    width: 48px;
    height: 48px;
    margin: 25px;
    font-size: 24px;
    border: 0;
}